<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Palindrome Syndrome</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet">
  </head>
  <body>
      <div id="systemSettings">
          <h1>Settings here</h1>
          <button onclick="returnHome()">Return</button>
      </div>
      <div class="greetings-wrapper">
          <h1><span class="greetings-text">Palindrome</span> Syndrome</h1>
      </div>
      <div class="header-wrapper">
          <button onclick="systemSettingsView()" >Settings</button>
      </div>
      <div class="content-wrapper">
          <h1 id="timeCounter">00:00</h1>
          <input type="text" id="palinText" placeholder="start typing here"/>

      </div>
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  </body>
</html>
